scroll-container {
    --item-size: 100%;
    --item-bg: var(--clr-placeholder);
    --items-offset: 1.5rem;
    --scroller-bg: transparent;

    display: flex;
    gap: var(--items-offset, 1rem);;
    overflow-x: scroll;
    flex: 0 0 100%;

    -webkit-overflow-scrolling: touch;
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;

    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    background-color: var(--scroller-bg);
}



scroll-container[scrollbar="off"] {
    scrollbar-width: none;
}

scroll-container[scrollbar="off"]::-webkit-scrollbar {
    width: 0;
    height: 0;
}

scroll-container .scroll-item {
    display: flex;
    flex: 0 0 var(--item-size, 100%);
    flex-direction: column;

    scroll-snap-align: center;

    background-color: var(--item-bg, transparent);
}

/* BUG FIX */
/* @see https://bugs.chromium.org/p/chromium/issues/detail?id=1069614 */
scroll-container ::after {
    --items-offset: 1.5rem;
}

scroll-container > .scroll-item:last-child {
    position: relative;
}

scroll-container > .scroll-item:last-child::after {
    content: "";
    position: absolute;

    inline-size: var(--fix-offset, --items-offset);
    block-size: 100%;

    inset-block-start: 0;
    inset-inline-end: calc(var(--fix-offset, --items-offset) * -1);
}
